@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

.nav{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  .navbar {
    background: #FFFFFF
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #FF99CB;
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #FF99CB
}

.nav-link {
    color: #650975;
    padding: 10px 5px;
    transition: 0.2s;
}
.nav-link:hover{
    font-weight: bold;
}
.logoText{
    font-family: 'Freehand', cursive;
}
.navbarStyling{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media screen and (max-width:600px) {
    .sizing{
            font-size: 1rem; 
    }
}
.fontAll{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Card Slider */
.carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 8px 8px 20px 8px rgba(22, 22, 26, 0.18);
    border: none;
  }

  
  .card .img-wrapper {
      max-width: max-content;
      height: 17em;
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
      margin-top: 10px;
      border-radius: 10px;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 10em;
      width: max-content;
      margin: auto;
    }
    .card{
      max-width: 20em;
      margin-bottom: 10px;
    }
  }

  /* FOOTER CSS DISINI */

  .footStyling{
    background-color: #650975;
  }
  
  .footer{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .imgfooter{
    width: 5%;
  }

  .afooter{
    text-decoration: none;
    color: white;
  }

  @media screen and (max-width:600px) {
    .imgfooter{
            width: 15%; 
    }
}

