@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

.nav{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  .navbar {
    background: #FFFFFF
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #FF99CB;
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #FF99CB
}

.nav-link {
    color: #650975;
    padding: 10px 5px;
    transition: 0.2s;
}
.nav-link:hover{
    font-weight: bold;
}
.logoText{
    font-family: 'Freehand', cursive;
}
.navbarStyling{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media screen and (max-width:600px) {
    .sizing{
            font-size: 1rem; 
    }
}


/* Card Slider */
.carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }