@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

.nav{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  .navbar {
    background: #FFFFFF
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #FF99CB;
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #FF99CB
}

.nav-link {
    color: #650975;
    padding: 10px 5px;
    transition: 0.2s;
}
.nav-link:hover{
    font-weight: bold;
}
.logoText{
    font-family: 'Freehand', cursive;
}
.navbarStyling{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}